.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    // background-image: url("../images/icons/sprite.1624883654254.svg");
    background-image: url("./sprite.1624883654254.svg");
    background-repeat: no-repeat;
    background-size: 13.7em 78.1em;
}

.no-svg .icon:before {
    // background-image: url("../images/icons/sprite.1624883654254.png");
    background-image: url("./sprite.1624883654254.png");
}



  .icon.check:before {
      background-position: 0em 0em;
      width: 1.7em;
      height: 1.6em;
  }



  .icon.checkbox-checked:before {
      background-position: 0em -1.6em;
      width: 2.8em;
      height: 2.8em;
  }



  .icon.checkbox-checked--green:before {
      background-position: 0em -4.4em;
      width: 4.8em;
      height: 4.2em;
  }



  .icon.checkbox-empty:before {
      background-position: 0em -8.6em;
      width: 2.8em;
      height: 2.8em;
  }



  .icon.close:before {
      background-position: 0em -11.4em;
      width: 1.4em;
      height: 1.4em;
  }



  .icon.delete:before {
      background-position: 0em -12.8em;
      width: 1.6em;
      height: 1.6em;
  }



  .icon.down-arrow--dark:before {
      background-position: 0em -14.4em;
      width: 1.2em;
      height: 0.8em;
  }



  .icon.external-link:before {
      background-position: 0em -15.2em;
      width: 1.3em;
      height: 1.2em;
  }



  .icon.external-link--dark:before {
      background-position: 0em -16.4em;
      width: 1.3em;
      height: 1.2em;
  }



  .icon.facebook:before {
      background-position: 0em -17.6em;
      width: 2.8em;
      height: 2.8em;
  }



  .icon.info:before {
      background-position: 0em -20.4em;
      width: 1.6em;
      height: 1.6em;
  }



  .icon.info--green:before {
      background-position: 0em -22em;
      width: 3.3em;
      height: 3.3em;
  }



  .icon.info--grey:before {
      background-position: 0em -25.3em;
      width: 1.6em;
      height: 1.6em;
  }



  .icon.info--white:before {
      background-position: 0em -26.9em;
      width: 1.6em;
      height: 1.6em;
  }



  .icon.left-arrow--dark:before {
      background-position: 0em -28.5em;
      width: 0.8em;
      height: 1.1em;
  }



  .icon.logo:before {
      background-position: 0em -29.6em;
      width: 13.7em;
      height: 3.6em;
  }



  .icon.logo--white:before {
      background-position: 0em -33.2em;
      width: 13.7em;
      height: 3.5em;
  }



  .icon.nav-burger:before {
      background-position: 0em -36.7em;
      width: 2.1em;
      height: 2em;
  }



  .icon.nav-burger--dark:before {
      background-position: 0em -38.7em;
      width: 2.1em;
      height: 2em;
  }



  .icon.openbook:before {
      background-position: 0em -40.7em;
      width: 3.3em;
      height: 3em;
  }



  .icon.paperplane:before {
      background-position: 0em -43.7em;
      width: 1.6em;
      height: 1.6em;
  }



  .icon.right-arrow:before {
      background-position: 0em -45.3em;
      width: 0.9em;
      height: 1.2em;
  }



  .icon.right-arrow--dark:before {
      background-position: 0em -46.5em;
      width: 0.8em;
      height: 1.1em;
  }



  .icon.right-arrow--green:before {
      background-position: 0em -47.6em;
      width: 0.8em;
      height: 1.1em;
  }



  .icon.rounded-facebook:before {
      background-position: 0em -48.7em;
      width: 3.6em;
      height: 3.6em;
  }



  .icon.rounded-googleplus:before {
      background-position: 0em -52.3em;
      width: 3.6em;
      height: 3.6em;
  }



  .icon.rounded-linkedin:before {
      background-position: 0em -55.9em;
      width: 3.6em;
      height: 3.6em;
  }



  .icon.rounded-twitter:before {
      background-position: 0em -59.5em;
      width: 3.6em;
      height: 3.6em;
  }



  .icon.rss:before {
      background-position: 0em -63.1em;
      width: 1.6em;
      height: 1.6em;
  }



  .icon.textfile:before {
      background-position: 0em -64.7em;
      width: 2.9em;
      height: 3.3em;
  }



  .icon.twitter:before {
      background-position: 0em -68em;
      width: 3em;
      height: 2.4em;
  }



  .icon.up-arrow--dark:before {
      background-position: 0em -70.4em;
      width: 1.2em;
      height: 0.8em;
  }



  .icon.usergroup:before {
      background-position: 0em -71.2em;
      width: 3.3em;
      height: 2.9em;
  }



  .icon.uvd-logo:before {
      background-position: 0em -74.1em;
      width: 3em;
      height: 2em;
  }



  .icon.uvd-logo-grey:before {
      background-position: 0em -76.1em;
      width: 3em;
      height: 2em;
  }



