/* ==========================================================================
   Utility classes
   - Little quick wins
   ========================================================================== */

.u-page-padding {
    padding-bottom: 3em;
}

.u-padding--epic {
    padding: 3em 0em;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-tablet-text-right {
    @include respond-min($bp-tablet) {
        text-align: right;
    }
}

.u-text-supporting {
    color: lighten($c-body, 10%);
    font-size:0.9em;
}

.u-no-margin {
    margin: 0;
}

.u-no-margin-bottom {
    margin-bottom: 0;
}

.u-no-margin-top {
    margin-top: 0;
}

.u-no-mobile-padding {
    @include respond-max($bp-tablet) {
        padding: 0
    }
}

.u-no-padding {
    padding: 0;
}

.u-border-top {
    border-top: 2px solid $c-grey;
}

.u-border-top-mobile {
    border-top: 2px solid $c-grey;

    @include respond-min($bp-tablet) {
        border-top: none;
    }
}

/*
 * Breakpoint only: {small, medium, large}
 */

.u-bp-only-small {
    display: block;
    @include respond-min($bp-tablet) {
        display: none !important;
    }
}

.u-bp-only-small-and-large {

    display: initial;

    @include respond-min($bp-tablet) {
        display: none;
    }

    @include respond-min($bp-desktop) {
        display: initial;
    }

}

/*
 * JS only
 * Only visible to js users
 */

.js [data-ng-cloak] {
    display: none !important;
}

.u-js-only {
    display: none;

    .js & {
        display: inherit;
    }
}

/**
 * Draw a divide
 */

.u-divide {
    border-bottom: 2px solid #EAEAEA;
}

.u-divide-thick {
    border-bottom: 0.2em solid #EAEAEA;
}

.u-divide-top {
    border-top: 1px solid #EAEAEA;
}

.u-divide-top--thick {
    border-top: 3px solid #EAEAEA;
    padding-top: 1em;
}

/**
 * Landmark to push content down
 */

.u-landmark {
    margin-bottom: $base-spacing-unit;
}

.u-landmark--desktop {
    margin-bottom: 0.2;

    @include respond-min($bp-tablet) {
        margin-bottom: $base-spacing-unit;
    }
}

.u-landmark--large {
    margin-bottom: $base-spacing-unit * 2;
}


.u-landmark-small {
    margin-bottom: $base-spacing-unit/2;
}

.u-landmark-small-mobile {
    margin-bottom: $base-spacing-unit/2;

    @include respond-min($bp-tablet) {
        margin-bottom: 0;
    }
}


/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.u-hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.u-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.u-visuallyhidden--focusable:active,
.u-visuallyhidden--focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
