@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/components/flags';
@import '../styles/icons';
@import '../styles/objects/l-grid';
@import '../styles/components/form';
	
.country {
	@extend .l-grid-unit;
	@extend .form__item;
	@extend .columnConfig;
}

.countryInput {
	@extend .flags-input;
}

.countryLabel {
	@extend .formBlockLabel;
	@extend .formIconLabel;
	@extend .flags;
}

.selected {
    @extend .form__block-select--checked;
}

.england {
	@extend .flag--england;
	@extend .countryLabel;
}

.scotland {
	@extend .flag--scotland;
	@extend .countryLabel;
}

.wales {
	@extend .flag--wales;
	@extend .countryLabel;
}

.nireland {
	@extend .flag--northern-ireland;
	@extend .countryLabel;
}
