@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/base';
@import '../styles/functions';
@import '../styles/objects/l-grid';
@import '../styles/objects/l-constrain';
@import '../styles/icons';
@import '../styles/components/h-group';
@import '../styles/objects/headings';
@import '../styles/components/form';
@import '../styles/unique/survey';

.layout {
  @extend .l-constrain;
}

.layoutInner {
  @extend .l-constrain__inner;
}

.legend {
  @extend .form__legend;
}

.header {
  @extend .h-group;
}

.headerH2 {
  @extend .h-group__main;
  @extend .h2;
}

.issues {
  @extend .survey__select-issues;
}

.issueSelector {
  @extend .l-grid;
}

.startBtn {
  @extend .form__actions;
}
