@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/utilities';
@import '../styles/icons';
@import '../styles/components/form';

.center {
  @extend .u-text-center;
}

.selectionStatus {
  @extend .form__hint;
}

.icon {
  @extend .icon;
  @extend .info;
}