@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/functions';
@import '../styles/components/h-group';
@import '../styles/objects/headings';
@import '../styles/objects/l-constrain';
@import '../styles/utilities';
@import '../styles/unique/survey';
@import '../styles/objects/views';

.constrain {
  @extend .l-constrain;
}

.constrainInner {
  @extend .l-constrain__inner;
}

.content {
  @extend .survey__content;
  @extend [data-ui-view];
}

.policy {
  @extend .survey-issue;
}

.headerWrapper {
  @extend .survey-issue__title;
}

.header {
  @extend .h-group__main;
  @extend .h2;
}

.divide {
  @extend .u-divide;
}

.intro {
  @extend .h-group__sub;
  @extend .h3;
}