@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/functions';
@import '../styles/unique/survey';
@import '../styles/utilities';
@import '../styles/objects/l-constrain';
@import '../styles/components/h-group';
@import '../styles/objects/headings';
@import '../styles/components/form';
@import '../styles/icons';

.constrain {
  @extend .l-constrain;
}

.constrainInner {
  @extend .l-constrain__inner;
}

.content {
  @extend .survey__content;
}

.titleContainer {
  @extend .survey-issue__title;
}

.header {
  @extend .h-group__main;
  @extend .h2;
}

.subHeader {
  @extend .h-group__sub;
  @extend .h3;
}

.postcodeSection {
  @extend .survey-issue__inner;
  @extend .u-divide-top;
}

.postcode {
  @extend .survey__postcode;
}

.input {
  @extend .form__input;
}

.btnContainer {
  @extend .form__actions;
}