@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/utilities';
@import '../styles/functions';
@import '../styles/unique/survey-results';
@import '../styles/objects/l-constrain';
@import '../styles/objects/headings';
@import '../styles/objects/l-grid';
@import '../styles/components/party-block';

.constrain {
  @extend .l-constrain;
  @extend .l-constrain--pad-up;
}

.titleWrapper {
  @extend .survey-results__section-title;
}

.title {
  @extend .h3;
  @extend .h--thin;
  @extend .u-no-margin;
}

.grid {
  @extend .l-grid;
  @extend .l-grid--1to2-col;
}

.gridUnit {
  @extend .l-grid-unit;
}

.results {
  @extend .survey-results__percentages;
}

.hGroupMain {
  @extend .h-group__main;
}

.hGroupLead {
  @extend .h-group__lead;
}

.partyBlockParty {
  @extend .party-block__party;
}


// TODO avoid repetition of logic and css from policyChoiceList component
.partyBlock {
  @extend .party-block;
  @extend .party-block--issue;
}

.policyParty {
  @extend .party-block__policy-party;
}

@each $party, $color in $parties {
  .partyBlock--#{$party} {
    @extend .party-block--#{$party};
  }
}
