@import '../styles/vars';
@import '../styles/functions';
@import '../styles/mixins';
@import '../styles/animations';
@import '../styles/base';
@import '../styles/icons';
@import '../styles/objects/buttons';
@import '../styles/objects/l-grid';

.surveyButton {
  @extend .btn;
  @extend .btn--positive;
  @extend .btn--medium;
}

.positive {
  @extend .btn--positive;
}

.negative {
  @extend .btn--negative;
}

.surveyButtonIcon {
  @extend .icon;
  @extend .right-arrow;
}
