@import '../styles/vars';
@import '../styles/mixins';
@import '../styles/utilities';
@import '../styles/functions';
@import '../styles/icons';
@import '../styles/objects/l-constrain';
@import '../styles/objects/tabber';
@import '../styles/components/h-group';
@import '../styles/objects/headings';

.layout {
  @extend .l-constrain;
}

.headerContainer {
  @extend .h-group;
  @extend .u-landmark;
}

.header {
  @extend .h-group__main;
  @extend .h2;
}

.resultsTabs {
  @extend .tabber--results;
}

.tabbing {
  @extend .tabber__nav;
}

.resultsTabs {
  .tabbing {
    @extend .tabberNavigation;
  }
}

.tabLink {
  @extend .tabber__nav__link;
  @extend .tabNavLink;

  &[aria-selected='true'] {
    @extend .tabNavLinkActive;
  }
}

.constrain {
  @extend .l-constrain;
  @extend .l-constrain--no-overflow;
  @extend .l-constrain--relative;
  @extend .u-no-mobile-padding;
}
