.l-flag {
    display: table;
    width: 100%;
}

.l-flag__image,
.l-flag__body {
    display: table-cell;
    vertical-align: middle;

    .l-flag--top & {
        vertical-align: top;
    }

    .l-flag--bottom & {
        vertical-align: bottom;
    }

}

.l-flag__image {
    padding-right: 1em;

    > img {
        display: block;
        max-width: none;
    }

    > .icon {
        display: block;
        max-width: none;
    }

    .l-flag--rev & {
        padding-right: 0;
        padding-left: 10px;
    }

    .l-flag__image--middle {
        vertical-align: middle;
    }

}

.l-flag__body {
    width: 100%;
}
