/*
 !Media
 - Ol' faithful media object
    stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code

     [IMAGE] CONTENT
             CONTENT

 ------------------------------ */

.media {
    display:block;
    overflow:hidden;
}

.media__img {
    float:left;
    margin: 0 10px 0 0;
}

.media__body {
    overflow:hidden;
    &,
    .media__body > :last-child {
        margin-bottom: 0;
    }
}

.media__img--reverse {
    float: right;
    margin: 0 0 0 10px;
}
