/* ==========================================================================
   Tabber
   - Structural and stylistic markup for tabs with a drop down for mobile
   ========================================================================== */

.tabber {

}

.tabList {
    padding: 0;
    list-style: none;

    @include respond-min($bp-tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
    }
}

.tabListItem {
    margin: 0;
    @include respond-min($bp-tablet) {
        text-align: center;
    }
}

.tabberNavigation {
    background: $c-grey;
    padding: 0;
    @include respond-min($bp-tablet) {
        background: #fff;
        border-bottom-color: $c-grey;
        margin-bottom: 0.5em;
    }
}

.tabber__nav {
    display: block;
    padding: 0 0 1em 0;
    margin: 1em;
    border-radius: 7px;
    border: 2px solid $c-dark-grey;

    @include font-sans;

    ul {
        margin: 0;

        li:last-child {
            margin-bottom: 0;
        }
    }

    @include respond-min($bp-tablet) {
        border: none;
        margin: 0;
        border-radius: 0;
        border-bottom: 4px solid #000;
    }

    // With JS Enabled

    .js & {
        @extend .tabberNavigation;

        .tabber__nav--right {
            @include respond-min($bp-tablet) {
                position: absolute;
                top: 0;
                right: 0.8em;
            }
        }

        ul {
            @extend .tabList;
        }

        li {
            @extend .tabListItem;
        }

    }

}

.js.no-flexbox {
    .tabber__nav ul {
        @include cf();
    }
    .tabber__nav li {
        float: left;
    }
}

// Hint to label the drop down
.tabber__nav__hint {
    display: block;
    padding: 0.5em 1em;
    background-color: white;
    border-radius: 7px 7px 0px 0px;

    @include respond-min($bp-tablet) {
        display: none !important;
    }
}

.tabber__nav__link:before {
    font-size: 10px;
    @extend .icon:before;
    @extend .down-arrow--dark;
    float: right;
    margin-top: 1em;

    @include respond-min($bp-tablet) {
        display: none;
    }
}

.tabber__nav__hint:before {
    font-size: 10px;
    @extend .icon:before;
    @extend .up-arrow--dark;

    float: right;
    margin-top: 1em;

}

.tabber__nav--expanded .tabber__nav__link:before {
    display: none;
}

.tabNavLink {
    padding: 0.5em 1em;
    text-decoration: none;
    display: none;
    @include respond-min($bp-tablet) {
        padding: 0.5em 0em;
        display: block;
        margin: 0 2px -3px;
    }
}

.tabNavLinkActive {
    font-weight: bold;
    display: block;

    @include respond-min($bp-tablet) {
        border-bottom: 4px solid black;
        z-index: 100;
        position: relative;
        margin-bottom: -3px;
        display: block;

        &:after {
            content: '';
            background: url('../../images/lead-in-arrow--small.svg') no-repeat;
            display: block;
            height: 11px;
            left: 50%;
            margin-left: -9px;
            position: absolute;
            top: 100%;
            width: 18px;
        }
    }
}

.tabber__nav__link {

   .js & {
        @extend .tabNavLink;
    }


    .js .tabber__nav--expanded & {
        display: block;
    }

}

.tabber__nav__link[aria-selected='true'] {
    .js .tabber__nav--expanded & {
        background-color: $c-dark-grey;
        color: $c-grey;

        @include respond-min($bp-tablet) {
            color: $c-dark-grey;
            background-color: transparent;
        }
    }

    .js & {
        @extend .tabNavLinkActive;
    }
}

.tabber__tab {
    padding: 1em 0 0 0;
    border-top: 3px solid $c-grey;

    @include respond-min($bp-tablet) {
        border-top: none;
    }

    // .js & {
    //     border-bottom: 0;
    // }

    // If tab is hidden in aria don't show it
    &[aria-hidden=true] {
        display: none;
    }
}



.tabber--results {
    .tabber__nav {

        .no-flexbox & li {
            width: 20%;
        }
    }

}
