/* ==========================================================================
   Browse happy outdated browser notice
   ========================================================================== */

.browsehappy {
    background: #E0A14E;
    text-align: center;
    padding: 1em;
    color: #333;

    a {
        color: #333;
    }

}
