.donate {
    @include font-sans;
    background: $c-light-grey;
    border-radius: 10px;
    padding: 0.5em 1em 1em 1em;

    legend {
        @include font-serif;
        @include font-size($h2-size);
        display: block;
        font-weight: 900;
        margin-bottom: $base-spacing-unit;
        text-align: center;
        border-bottom: 1px solid $c-grey;
    }

    @include respond-min($bp-desktop) {
        padding-left: 4em;
        padding-right: 4em;
    }

}

.donate__methods {
    input {
        margin-right: 10px;
    }
    img { display: block }

    padding: 0 $base-spacing-unit;
    border-bottom: 1px solid $c-grey;
    margin-bottom: $base-spacing-unit;
}

.donate__amounts {
    margin-bottom: $base-spacing-unit/2;
    text-align: center;

    li {
        display: inline-block;
        margin:0 10px 10px 10px;
    }

    input {
        @include opacity(0);
        position: absolute;
        outline: none;
    }

    input:checked + label {
        background-color: $c-positive;
        color: #fff;
    }

    input:focus + label {
        border-color: lighten($c-positive,             20%);
    }

    label {
        display: inline-block;
        padding: .5em;
        border: 2px solid $c-grey;
        border-radius: 5px;
        background: #fff;
        color: #000;
    }

}
