/* ==========================================================================
   Specific styling for the ng-dialog
   ========================================================================== */

.ngdialog-content {
    z-index: 100;
    position: absolute;
    width: 630px;
    height: 540px;
    top: 50%;
    margin-top: -270px;
    left: 50%;
    margin-left: -315px;
    border-radius: 5px;
    border-bottom: 3px solid #444;
}

.ngdialog-close {
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #353535;
    padding: 0;
    background: none;
    border: none;
}


.ngdialog-overlay {
    .no-rgba & {
        background: url(/images/bg_opacity.png) repeat;
    }
}
