/* ==========================================================================
   Specific Styling for the Survey
   ========================================================================== */

.survey {}

.survey__header {
    background: #EAEAEA;
    padding: 0.5em 0;
    position: relative;
    margin-bottom: $base-spacing-unit;
}

.survey__title {
    @include font-sans;
    color: lighten($c-body, 25%);
    font-weight: normal;
    margin: 0;
}

.survey-issue__inner {
    padding: em(15px);
}

.surveyItemPadding {
    padding: 0 1.5em;
}

.survey__select-issues {
    background: #EAEAEA;
    border-radius: 5px;
    padding: 1em;

    .form__item { // compounded with l-grid-unit :(
        @extend .surveyItemPadding;
    }

    .form__actions {
        text-align: center;
    }
}

.survey__content {
    min-height: 250px;
    @include respond-min($bp-desktop) {
        border: 2px solid #EAEAEA;
    }
}


.survey__select-country {

    @include respond-min($bp-desktop) {
        border: 2px solid #EAEAEA;
        padding: 1em;
    }

}

.survey__progress {
    @include font-sans;
    @include font-size(16px);
    position: absolute;
    right: 1em;
    bottom: 0;

    em {
        font-style: normal;
        font-weight: bold;
    }
}

.survey__next-hint {
    color: lighten($c-body, 25%);
    strong {
        display: block;
    }
}

/*
   Survey shortlister
   ========================================================================== */


/*
   Survey issue
   ========================================================================== */


.survey-issue {
    margin-bottom: 2em;

    &:last-child {
        margin-bottom: 0;
    }

    .form__actions {
        @include respond-min($bp-tablet) {
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.progressMarkerList {
    position: relative;
    display: inline-block;
    list-style:none;
    padding:0;
    margin:0 auto;
    text-align: center;
    &:after {
        content: '';
        border-top: 2px solid #EAEAEA;
        position: absolute;
        top: 50%;
        height: 0;
        left:5px;
        right:5px;
    }
}

.survey-issue__progress {
    text-align: center;
    margin-bottom: .5em;
    ul {
        @extend .progressMarkerList;
    }
}

.survey-issue__title {
    display: block;
    padding: 0 0.83333em;
}

legend.survey-issue__title {
    // weird behaviour when used on <legend>
    overflow: hidden;
}

.survey-issue__progress-step {
    @include font-sans;
    display:inline-block;
    position: relative;
    z-index: 10;
    margin: 0 .5em;
    background-color:#EAEAEA;
    font-weight: 900;
    border-radius: 50%;
    height: 2.5em;
    border:2px solid #fff;
    width: 2.5em;
    font-size: 11px;
    text-align: center;
    line-height: 2;
    transition: background 0.5s linear;
}

.survey-issue__progress-step--current {
    background:#000;
    color:#fff;
}

.survey__issue-next-link  {
    display: none;

    input:checked ~ & {
        display: block;
    }
}

.survey__email-results {
    padding-bottom: 5px;

    label {
        display: block;
        margin-bottom: 1em;
    }

    input {
        width: 100%;
        margin-right: .5em;

        @include respond-min($bp-tablet) {
            width: 44%;
        }
    }

    button {
        float: right;
        margin-bottom: 3px;

        @include respond-min($bp-tablet) {
            float: none;
        }
    }

    .form__invalid-message {
        padding: 0;
        color: $c-negative
    }
}

.survey__email-results-disclaimer {
    font-size: 0.8em;
    margin-top: 1em;
    text-align: center;

    @include respond-min($bp-tablet) {
        a {
            display: inline;
        }

        text-align: left;
    }

}

.survey__results-link {
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;

    a {
        display: block;
    }

    @include respond-min($bp-tablet) {
        a {
            display: inline;
        }

        text-align: left;
    }
}

.survey__postcode {

    @include respond-min($bp-mobile) {
        max-width: 320px;
        margin: 0 auto;
    }

    input {
        width: 100%;
    }

    .form__actions {
        text-align: right;
    }
}
