.survey-results {

}

.survey-results__section-title {
    @include font-sans;
    text-align: center;
    margin-bottom: em(10px);
}

.survey-results__percentages {
    margin-bottom: 1em;

    @include respond-min($bp-tablet) {
        padding-top: em(30px);
    }
}


.survey-results__total {
    text-align: center;
    margin-bottom: 2em;
    line-height: 1.3;
    @include font-sans;

    strong {
        display: block;
    }
}

.survey-results__share {
    margin-top: 1em;
    padding-bottom: 0.5em;

    @include respond-min($bp-tablet) {
        padding-left: 1.5em;
        border-left: 2px solid darken($c-grey, 40);
        margin-top: 0;
    }

    > p {
        margin-bottom: 1em;
    }

}
