.survey-cta {
    position: relative;

    .btn {
        margin-bottom: 3px;
    }

    @include respond-min($bp-tablet) {

        padding-right: 15em;

        .btn {
            position: absolute;
            top: 0.5em;
            right: 0;
        }
    }
}

.survey-cta--reaction {

    @include respond-min($bp-tablet) {
        .btn {
            top: 1.25em;
        }
    }
}
