/* ==========================================================================
   Forms
   ========================================================================== */

.form {}

.form__legend {
    margin-bottom: $base-spacing-unit;
    display: block;
    width: 100%;
}

.form__items {
    list-style: none;
    margin: 0 -0.5em 1em;
    padding: 0;
}

.form__item {
    padding: 0 0.5em;
}

.form__label {
    @include font-sans;
}

.form__input {
    background: #fff 0 0 no-repeat;
    border: 1px solid $c-black;
    border-radius: 3px;
    @include font-sans;
    @include font-size(18px);
    padding: 0.5em;
    margin-bottom: 0.25em;
}

.form__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: solid 2px lighten($c-black, 50);
    background: url('../../images/down-arrow--dark.svg') no-repeat 95% center;
    font-size: 0.9em;
    padding: .5em 1.5em .5em .5em;
}

.form__hint {
    @include font-sans;
    @include font-size(16px);
    display:inline-block;
    padding: 0.25em 2em;
    text-align: center;

    > .icon {
        vertical-align: 2px;
        margin-right: 0.5em;
    }
}

.form__hint--error {
    background: $c-negative;
    border-radius: 5px;
    color:#fff;

    > .icon {
        color: #fff;
    }
}

.form__actions {
    padding: 1em 0;
}

.form__actions--narrow-padding {
    padding: .5em 0;
}

.form__actions {
    button + button {
        margin-left: 2em;
    }
}

.form__actions--centered {
    text-align: center;
}

.form__actions--right {
    text-align: right;
}

.form__input--radio {
    margin-right: 0.5em;
}

.form__inline-error {
    color:$c-negative;
}

.form__invalid-message {
    padding: 1em 0;
    color: $c-negative
}

.formBlockLabel {
    border: 1px solid #333;
    border-radius: 5px;
    background: #EAEAEA;
    padding: 1em 1em 1em 1em;
    display: block;
    cursor: pointer;
}

.form__block-select--checked {
    background:$c-body;
    color: #fff;
}

.form__block-select {
    position: relative;
    padding: 0;

    label {
        @extend .formBlockLabel;
    }

    input {

        html.js & {
            @include opacity(0);
            position: absolute;
            outline: none;
        }

    }

    input:focus + label {
        @include focus-style;
    }

    input:checked + label {
        @extend .form__block-select--checked;
    }


    input.is-checked + label {
        @extend .form__block-select--checked;
    }

    .no-js & input {
        opacity: 1 !important;
        filter: none !important;
        position: absolute;
        top: 50%;
        margin-top: -0.5em;
        left: 10px;
        z-index: 10;
        font-size: 1em;
    }

}

.form__block-select--continue {
    text-align: center;
    max-width: 320px;
    margin: 0 auto;

    .btn {
        border: none;
    }

    label {
        background: $c-positive;
        padding:0 1em;
        line-height: 3;
        font-weight: 600;
        height: 3em;
        color:#fff;
    }

    input ~ .form__block-select__continue {
        display: none;
    }

    .js & input.is-checked ~ .form__block-select__continue{
        display: block;
    }

    input:focus + label {
        position: relative;
        top: 4px;
    }

    .js & input.is-checked + label {
        @include visually-hidden;
    }

    .js & input:focus + label {
        background: $c-positive;
        @include visually-hidden--disable;

        & + .form__block-select__continue {
            margin-top: 1em;
        }
    }

}

.form__block-select__continue {

    .btn {
        height: 3em;
        line-height: 3;
        margin-left: 10px;

        .icon {
            margin-left:5px;
            vertical-align: 2px;
        }
    }
}


.form__block-select--btn {
    label {
        @include font-size(18px);
        @include font-sans;
        background-color:$c-positive;
        color: #fff;
        line-height: 1;
        padding-top:0.75em;
        padding-bottom:0.75em;

        &:hover,
        &:focus {
            background: $c-positive;
        }
    }

    input:checked + label {
        background-color:$c-positive;
        color: #fff;
    }
}

.formIconLabel:before {
    content: ' ';
    display: inline-block;
    background-repeat: no-repeat;
    font-size: 10px;
    margin-right: 10px;
}

.formIcon {
    position: relative;

    label:before {
        margin-right: 10px;
    }
}

.formIconInput {
    @include opacity(0);
    position: absolute;
}

.formIconInput:focus + .issueLabel:before {
    @extend .inputOutline;
}

.form__icon-input {
    @extend .formIcon;

    input {

        .no-legacy-ie.js & {
            @extend .formIconInput;
        }

        .lt-ie9 {
            font-size: 1em;
        }

    }

    label:before {
        @extend .formIconLabel:before;
    }

}

.issueLabel:before {
    @extend .icon;
    @extend .checkbox-empty;
}

input:checked + .issueLabel:before {
    @extend .checkbox-checked;
}

.issue .issueLabel:before {
    vertical-align: -8px;
}

.inputOutline {
    outline: lighten($c-positive,10%) solid 3px;
}

.form__icon-input--check {

    .no-legacy-ie.js & .form__input:focus + label:before {
        @extend .inputOutline;
    }

    .no-legacy-ie.js & label:before {
        @extend .issueLabel:before;
    }

     .no-legacy-ie.js  & .form__input:checked + label:before {
        @extend .checkbox-checked;
        content: '';
    }

}

.flags:before {
    background-image: url(../../images/flags.png);
    height:3.9em;
    width: 6.1em;
    vertical-align: middle;
}

.form__icon-input--flag {

    .no-js & label {
        padding-left: 2em;
    }

    label:before {
        @extend .flags:before;
    }
}

.flags-input {
    display: none;
}
