/* ==========================================================================
   H-Group
   - Styling for headings that visually compose of multiple levels
   ========================================================================== */

.h-group {
    @include font-sans;
    line-height: 1.2;
    display: block;
    width: 100%; // sometimes we apply this to legends
}

.h-group--spaced {
  margin-bottom: $base-spacing-unit/2;
}

.h-group__lead {
    display: block;
    color:#444;
}

.h-group__main {
    display: block;
    font-weight: 900;
    margin: 0 0 .2em;
    @include font-sans;
}

.h-group__sub {
    display: block;
    color:#444;
    @include font-sans;
}

.h-group__main + .h-group__sub {
  padding-top: 0;
  margin-top: -.2em;
  line-height: 1.3;
}

.hgroup--float-up {
  @include respond-min($bp-tablet) {
      border-bottom: solid 5px $c-grey;
      overflow: hidden;

    .h-group__sub {
        margin-top: 0.5em;
        float:right;
    }

    .h-group__main {
        float:left;
    }
  }

}

.h-group--padded {
  padding: 2em 0;
}

