/* ==========================================================================
   Hero
   A large area on the page generally capturing high level messages about the page
   ========================================================================== */

.hero {
    text-align: center;
    margin-bottom: $base-spacing-unit;

    @include respond-min($bp-tablet) {
        padding: 2% 20%;
    }

    @include respond-min($bp-desktop) {
        padding: 2% 15%;
    }
}

.hero__impact {
    @include font-sans;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: .5em;
}

.hero__strapline {
    @include font-size(18px);
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    letter-spacing: -0.3px;

    @include respond-min($bp-tablet) {
        @include font-size(21px);
    }

    @include respond-min($bp-desktop) {
        @include font-size(24px);
        padding: 0 20%;
    }


    strong {
        font-weight: 700;
    }
}
