.page-title {
    padding-top: 0.5em;
    @include font-sans;

    ul {
        overflow: hidden;
    }

    a {
        text-decoration: none;

        &:hover {
            color: lighten($c-black, 20);
        }
    }

    h1 {
        margin-top: 10px;

        @include respond-min($bp-tablet) {
            margin-top: 0px;
        }
    }

}

.page-title__blog-rss {
    float: right;
    margin-top: 0.2em;
}

.page-title__blog-rss--pushed {
    float: right;
    margin-top: 0.8em;

    @include respond-min($bp-tablet) {
        margin-top: 1.2em;
    }

}

.page-title__icon {
    font-size: 13px;
    margin: 3px;
}
