/* ==========================================================================
Pie Chart
- The top of the site that persists throughout
========================================================================== */

.pie-chart {
    height: 300px;
    animation: pieChart 0.5s ease-in;
    margin: .5em 0 1em 0;
    @include font-sans;

    @include respond-min($bp-tablet) {
        height: 470px;
        // padding: 2em 0;
        margin-top: 0px;
    }

    .no-svg &,
    .no-js & {
        background: url('../images/chart-disabled.png') no-repeat top center;
        position: relative;
        height: 400px;

        &:after {
            content: 'Unfortunately you need to enable javascript & have a modern browser to view the pie chart';
            position: absolute;
            @include font-size(15px);
            background: rgba(255, 255, 255, .5);
            padding: .25em;
            left: 100px;
            text-align: center;
            right: 100px;
            top: em(140px);
        }
    }

}

.pie-chart__wrapper {
    @include respond-min($bp-tablet) {
        padding: 2em 0em;
    }
}

.ct-label {
    text-anchor: middle;
    font-size: 1.2em;
}

@each $party, $color in $parties {
    .pie-chart--#{$party} {
        fill: $color !important;

        .ct-label {
            fill: pie-chart-label-color($color) !important;
        }
    }
}
