/* ==========================================================================
   Results Issue Total
   - Marks up the results for a particular issue
   - Similar to results-block but with more complexity
   - Abstraction is abounds here
   ========================================================================== */

.result-issue-total {
    background: $c-light-grey;
    overflow:hidden;
    margin-bottom: 1.5em;

    @include respond-min($bp-tablet) {
        position:relative;
        overflow: visible;
        margin-bottom: 40px;
    }
}

/*
    Elements that compose the top part of the component.
*/

.result-issue-total__rank {
    background: $c-grey;
    text-align: center;
    padding: 0.5em;
    line-height: 1;
    width: 60px;

    .no-flexbox & {
        float: left;
        margin-right: 5px;
    }

}

.result-issue-total__position {
    display: block;
    @include font-sans;
    @include font-size(30px);
    line-height: 0.8;
    padding-bottom: .2em;
    border-bottom: 1px solid darken($c-grey, 10%);
    margin: 0 1% .5em 1%;

}

.result-issue-total__count {
    line-height: 0;
    margin-bottom: -5px;
    @include font-sans;

    strong {
        @include font-size(14px);
        display: block;
    }

    span {
        @include font-size(12px);
    }
}


.result-issue-total__leader {
    padding: 0.5em;
    padding-right: 80px;
    position: relative;

    flex: 1;

    .h-group__main {
        font-weight: normal;
    }

    .h-group__lead {
        margin: 0;
        font-weight: 900;
    }
}

.result-issue-total__lead-percentage {
    position: absolute;
    right: 0.25em;
    top: 0.25em;
    @include font-sans;
    font-weight: normal;
}


/* Additional Parties */
.result-issue-total__parties {
    padding-top: 0.5em;
    border-top: 1px solid $c-grey;

    &:hover li:not(:hover) {
        opacity: 0.4;
    }

    @include respond-min($bp-tablet) {
        .js & {
            padding-top: 0;
            position: absolute;
            top:100%;
            left:0;
            right:0;
            display: block !important;
        }
    }


}

.result-issue-total__parties-percentage {
    padding:0.5em 1em;
    border-bottom: 1px solid $c-grey;
    margin: 0;
    display: table;

    @include respond-max($bp-tablet - 1 ) {
        width: 100% !important;

        &:first-child {
            // At mobile the top party is shown in the view above it
            // at larger breakpoints it needs to be displayed to show horz
            // bar chart
            display: none;
        }
    }

    .no-js & {
        width: 100% !important;
    }

    @include respond-min($bp-tablet) {
        .js & {
            width: auto;
            display: block;
            height: 15px;
            float: left;
            padding: 0;
            text-indent: -99999em;
            overflow: hidden;

            &:hover {
                height: 20px;
                transition: height 0.25s ease-out;
            }
        }
    }
}

.result-issue-total__parties-percentage__party {
    display: table-cell;
    width:80%;

    &:before {
        content: '';
        display: inline-block;
        vertical-align: -3px;
        margin-right: 0.5em;
        height: 22px;
        width: 22px;
        background: #000;
        border-radius: 50%;
    }

    @include respond-min($bp-tablet) {
        .js & {
            display: inline;
        }
    }

}

@each $party, $color in $parties {
    .result-issue-total__parties-percentage--#{$party} {
        .result-issue-total__parties-percentage__party:before {
            background-color: $color;
        }

        @include respond-min($bp-tablet) {
            .js & {
                background-color: $color;
            }
        }

    }
}

.result-issue-total__parties-percentage__count {
    display: table-cell;
    text-align: right;

    @include respond-min($bp-tablet) {
        .js & {
            display: inline;
        }
    }
}

.result-issue-total__reveal-parties {
    @include font-size(14px);
    @include font-sans;
    border:1px solid $c-grey;
    border-top: 1px solid darken($c-grey, 10);

    a {
        padding: 0.5em;
        display: block;
    }

    .icon {
        vertical-align: 2px;
        margin-left: .5em;
    }
 }

